{% set toros = filterdestacado.toros %}
<div class="team">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">

                {% for toro in toros %}
                {% set route = "toros/toro/" %}
                {% set parcial =  toro.hbu  %}
                {% set urlParam = "/toros/toro/"~parcial  %}

                <div class="col-md-4">
                    <div class="card card-member">
                        <div class="content">
                            <div>
                                <a href={{ urlParam }}>
                                    <img alt="toro {{ toro.hbu }}" class="card-image-top"
                                        src="{{ toro.vistadestacado.thumb(300, 200, 'crop') }}" />
                                    <div class="description">
                                        <h3 class="title">{{ toro.hbu }}</h3>
                                        <h4>{{ toro.nombre }}</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>
</div>